.about{
    opacity: 0.97;
    width: 100vw;
    background-color: #463F3A;
    padding-bottom: 20vh;
    padding-top: 20vh;
}

.about h2{
    margin-left: 20vw;
}

.grid{
    margin: 0 auto;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.about *{
    margin-bottom: 10px;
}

.about p{
    margin-left: 30px;
}

.about svg{
    fill: yellow;
}

.about img, .about svg{
    border-radius: 30%;
}

.about img:hover{
    box-shadow: 0 0 10px 10px #3943B7;
    background-color: #3943B7;
}

.about button{
    color: black;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.narrative{
    display: flex;
    gap: 20px;
    align-items: center;
}

.images p{
    position: relative;
    right: 30px;
}

.images{
    height: 40vh;
    width: 30vw;
    border-radius: 10%;
    margin-top: 200px;
    border: 3px solid white;
    overflow: hidden;
}

.images p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-18%, -50%);
    z-Index: 3;
    font-size: 24px;
}

.images img:hover{
    cursor: grab;
}

.images img:active{
    cursor: grabbing;
}

.self{
    position: relative;
    top: 50px;
    transition: all 0.3s ease;
}

.self:hover{
    transform: scale(1.1)
}

.codesmith{
    position: relative;
    bottom: 50px;
    left: 100px;
    transition: all 0.3s ease;
}

.codesmith:hover{
    transform: scale(1.1)
}

.ucr{
    position: relative;
    right: 60px;
    top: 50px;
    transition: all 0.3s ease;
}

.ucr:hover{
    transform: scale(1.2)
}

.icons{
    position: relative;
    width: 500px;
    height: 500px;
    left: 200px;
    margin-bottom: 100px;
    top: 200px;
}

.icons img{
    width: 50px;
    height: 50px;
    position: relative;
}

/* .technologies{
    position: relative;
    top: px;
} */

.technologies p{
    line-height: 24px;
}

@media screen and (max-width: 1250px) {
    .about{
        width: 100vw;
        overflow: hidden;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        padding-right: 10vw;
        margin: 0 auto;
    }

    .about h2{
        margin-left: 5vw;
        margin-bottom: 20px;
    }
    
    .narrative{
        margin-top: 50px;
    }

    .narrative_text{
        margin-left: -5vw;
    }

    .education{
        margin-left: 5vw;
    }

    .about p, .about li{
        width: 80vw;
        margin: 0;
        padding: 0 10vw;
    }

    .images{
        margin-left: 5vw;
        width: 80vw;
    }

    .icons{
        position: relative;
        width: 500px;
        height: 500px;
        left: 200px;
        top: 300px;
    }

    .codesmith{
        position: relative;
        bottom: 50px;
        left: 20px;
        transition: all 0.3s ease;
    }

    .ucr{
        position: relative;
        right: 60px;
        top: 50px;
        transition: all 0.3s ease;
    }
}