.about{
    opacity: 0.97;
    width: 100vw;
    background-color: #463F3A;
    padding-bottom: 20vh;
}

.grid{
    margin: 10vh auto 0 auto;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20vh 0;
}

.about *{
    margin-bottom: 10px;
}

.about p{
    margin-left: 30px;
}

.about img{
    border-radius: 30%;
}

.about img:hover{
    box-shadow: 0 0 10px 10px #3943B7;
    background-color: #3943B7;
}

.about button{
    color: black;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.narrative{
    display: flex;
    gap: 20px;
    align-items: center;;
}

.images p{
    position: relative;
    right: 30px;
}

.self{
    position: relative;
    top: 50px;
    transition: all 0.3s ease;
}

.self:hover{
    transform: scale(1.1)
}

.codesmith{
    position: relative;
    bottom: 50px;
    left: 100px;
    transition: all 0.3s ease;
}

.codesmith:hover{
    transform: scale(1.1)
}

.ucr{
    position: relative;
    right: 60px;
    top: 50px;
    transition: all 0.3s ease;
}

.ucr:hover{
    transform: scale(1.2)
}

.icons{
    position: relative;
    width: 500px;
    height: 500px;
    left: 200px;
    top: 300px;
}

.icons img{
    width: 50px;
    height: 50px;
    position: relative;
}

.technologies{
    position: relative;
    top: 200px;
}

.technologies p{
    line-height: 24px;
}

@media screen and (max-width: 1250px) {
    .about{
        width: 100vw;
        overflow: hidden;
        margin-bottom: 50vh;
        margin-top: 50vh;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        padding-right: 10vw;
        margin: 0 auto;
    }

    .about p, .about li{
        width: 80vw;
        margin: 0;
        padding: 0 10vw;
    }

    .icons{
        position: relative;
        width: 500px;
        height: 500px;
        left: 200px;
        top: 300px;
    }

    .codesmith{
        position: relative;
        bottom: 50px;
        left: 20px;
        transition: all 0.3s ease;
    }
}