.cover{
    opacity: 0.97;
    width: 100vw;
    padding: 10vh 20vw;
    background-color: #463F3A;
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
}

.page *{
    margin-bottom: 10px;
}

.page h2, .page h3{
    margin: 10px;
}

.page h3{
    font-weight: 400;
}

.page h4{
    margin-top: 30px;
}

.page li{
    width: 55vw;
}

.game{
    width: 60vw;
    height: 80vh;
    border: white 3px solid;
    border-radius: 30px;
    margin-top: 20px;
}

.background{
    width: 60vw;
    height: 80vh;
    position: absolute;
    border-radius: 30px;
}

.narrative{
    line-height: 24px;
    width: 60vw;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
    margin-bottom: 20px;
}

.tech li {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
}

@media screen and (max-width: 1250px) {
    .cover{
        padding: 10vh 10vw;
    }

    .page h2, .page h3, .narrative, .page li{
        width: 60vw;
    }

    .tech{
        display: block;
        width: 60vw;
    }

    .page li{
        margin-left: -5vw;
    }

    .tech{
        grid-template-columns: 1fr;
        width: 80%;
    }

    .game{
        width: 60vw;
        height: 30vh;
    }
    
    .background{
        width: 60vw;
        height: 30vh;
    }
}