.codehort *{
    margin-bottom: 10px;
}

.background{
    background-color: #463F3A;
    position: relative;
    opacity: 0.97;
    margin-top: -50px;
    height: 100vh
}

.codehort{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

.narrative{
    line-height: 24px;
    margin-bottom: 20px;
}

.tech{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}