.codehort *{
    margin-bottom: 10px;
}

.background{
    background-color: #463F3A;
    position: relative;
    opacity: 0.97;
    margin-top: -50px;
}

.codehort{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

.narrative{
    line-height: 24px;
    margin-bottom: 20px;
}

.tech{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1250px) {
    .codehort, .tech{
        grid-template-columns: 1fr;
        width: 80vw;
    }

    .codehort h3{
        margin-top: 5vh;
        padding-left: 10vw;
    }

    .narrative{
        width: 80vw;
    }

    .codehort li, .codehort h3{
        margin-left: -5vw;
        padding-right: 10vw;
    }
}