.projects *{
    margin-bottom: 10px;
}

.projects{
    opacity: 0.97;
    width: 100vw;
    background-color: #463F3A;
}

.grid{
    margin: 0 auto;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20vh 0;
}

.projects img{
    box-shadow: 0 0 10px 10px #3943B7;
}

.projects p{
    line-height: 24px;
}

.reactype{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.reacType_Logo{
    box-shadow: 0 0 10px 10px #3943B7;
    border-radius: 50%;
}

.appImage{
    margin-top: 50px;
}

.webpage{
    border: 3px solid black;
    border-radius: 10px;
}

.contributions{
    margin-left: 5vw
}

@media screen and (max-width: 1250px){
    .projects{
        opacity: 0.97;
        width: 100vw;
        background-color: #463F3A;
        overflow: hidden;
    }
    
    .grid{
        margin: 0 auto;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
        padding: 20vh 0;
    }

    .grid *{
        width: 80vw;
    }

    .reacType_Logo{
        width: 80vw;
        height: 30vh;
    }

    .contributions, .contributions li{
        width: 60vw;
    }
}