.footer{
    position: fixed;
    left: 90vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}

.footer svg{
    fill: white;
    margin-bottom: 3vh;
    width: 3vw;
    height: 3vh;
}

.line{
    width: 0.1vw;
    height: 10vh;
    background-color: white;
}

.iconName p{
    position: relative;
    right: -300px;
    top: 23px;
    opacity: 0;
    transition: all 0.5s ease;
}

.iconName:hover p{
    right: 70px;
    opacity: 1;
}