*{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

body{
    margin: 0;
    background-image: url('../public/javascript-computer.jpg');
    background-size: 120vw;
    background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width: 1250px) {
    body {
        background-size: 300vw;
        background-position: 70% 50%;
    }
}


h4{
    font-weight: 400;
}

button:active{
    box-shadow: 0 0 5px 5px #9381FF;
}

input:focus, textarea:focus{
    box-shadow: 0 0 5px 5px #9381FF;
    margin-left: 10px;
}