.title{
    text-align: center;
    background-color: #463F3A;
    padding: 40vh 0 60vh 0;
    position: relative;
    bottom: 50px;
    opacity: 0.97;
}

.title h1::after{
    content: '|';
    animation: blinking 1s infinite;
}

.title h1{
    font-size: 36px;
}

@keyframes blinking{
    50%{
        opacity: 0;
    }
}

.title p{
    margin-top: 10px;
}