.page *{
    margin-bottom: 10px;
}

.background{
    background-color: #463F3A;
    opacity: 0.97
}

.page{
    width: 60%;
    margin: 5vh 20vw;
    text-align: center;
}

.page p{
    line-height: 24px;
}

.plan{
    width: 100%;
}

.tech{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}