.navbarDesign{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.95;
}

.navbar{
    background-color: #8A817C;
    width: 30vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
}
  
.link:hover {
    box-shadow: 0 0px 5px 5px #9381FF;
    background-color: #9381FF;
}


.triangle {
    border-top: 25px solid #8A817C;
    border-left: 25px solid #8A817C;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

@media screen and (max-width: 1250px) {
    .navbarDesign{
        position: sticky;
        top:3px;
    }

    .navbar{
        width: 100vw;
    }

    .triangle {
        border: 0;
    }
}