.petStyle {
    position: relative;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    z-Index: 2;
}

.walkingLeft {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.petStyle:hover .petName {
    opacity: 1;
}