.project_section *{
    margin-bottom: 10px;
}

.project_section{
    width: 60vw;
    margin: 80vh auto 0 auto;
    opacity: 0.97;
    width: 100vw;
    background-color: #463F3A;
}

.background{
    padding: 30vh 0;
    margin: 80vh auto 0 auto;
    width: 60vw;
}

.project_section h3{
    margin-top: 20px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.projects a:hover{
    cursor: pointer;
}

.proj{
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(51,51,51);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: ease 0.3s background-color, opacity 0.3s, width 0.3s, height 0.3s;
  opacity: 0.2;
  height: 350px;
  width: 19vw;
}

.proj:hover{
  background-color: #3943B7;
  box-shadow: 0 0 10px 10px ;
  opacity: 1;
  height: 350px;
  width: 21vw;
}

.proj img{
  border-radius: 10px;
}

.icons{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 80%;
}

@media screen and (max-width: 1250px) {
    .projects{
      display: grid;
      grid-template-columns: 1fr;
      gap: 1vw;
    }

    .project_section{
      width: 80vw;
      opacity: 0.97;
      width: 100vw;
      background-color: #463F3A;
  }

    .proj {
      width:60vw;
      height: 400px;
    }

    .proj:hover{
      background-color: #3943B7;
      box-shadow: 0 0 10px 10px ;
      opacity: 1;
      height: 400px;
      width: 60vw;
    }
}