.projects *{
    margin-bottom: 10px;
}

.projects{
    width: 60vw;
    margin: 80vh auto 0 auto;
}

.projects h3{
    margin-top: 20px;
}

.game{
    width: 60vw;
    height: 80vh;
    border: white 3px solid;
    border-radius: 30px;
    margin-top: 20px;
}

.background{
    width: 60vw;
    height: 80vh;
    position: absolute;
    overflow: hidden;
    border-radius: 30px;
}

.codehort{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30vh;
}